@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

/**
* ----------------------------------------------
* Accordion Styles
* ----------------------------------------------
**/
.accordion {
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
}

.accordion__item + .accordion__item {
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
}

.accordion__button {
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 0;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  /* background-color: #ddd; */
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  /* display: hidden; */
  max-height: 0;
}

.accordion__panel {
  margin: 1rem 0;
  animation: fadein 0.5s ease-in-out;
  transition: all;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-12.5px);
    max-height: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 250px;
  }
}
